$grey-50: #fafafa;
$grey-100: #f4f4f5;
$grey-200: #e4e4e7;
$grey-300: #d4d4d8;
$grey-400: #a1a1aa;
$grey-500: #71717a;
$grey-600: #52525b;
$grey-700: #3f3f46;
$grey-800: #27272a;
$grey-900: #18181b;
$grey-950: #09090b;

$main-50: #f0f9ff;
$main-100: #e0f2fe;
$main-200: #bae6fd;
$main-300: #7dd3fc;
$main-400: #38bdf8;
$main-500: #0ea5e9;
$main-600: #0284c7;
$main-700: #0369a1;
$main-800: #075985;
$main-900: #0c4a6e;
$main-950: #082f49;

$accent-50: #fff1f2;
$accent-100: #ffe4e6;
$accent-200: #fecdd3;
$accent-300: #fda4af;
$accent-400: #fb7185;
$accent-500: #f43f5e;
$accent-600: #e11d48;
$accent-700: #be123c;
$accent-800: #9f1239;
$accent-900: #881337;
$accent-950: #4c0519;
